.gallery-content {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}
.popup-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;

  box-shadow: 2px 2px 5px rgb(39, 39, 39);
  border: 5px solid rgb(39, 39, 39);
  border-radius: 5px;
  margin: 10px;
}

.popup-gallery img {
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
  border: 4px solid rgb(99, 99, 99);
  border-radius: 5px;
}

.popup-gallery img:hover {
  transition-duration: 0.2s;
  transform: scale(1.1);
}

.popup-image {
  margin: 10px;
}

.popup-image p {
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.gallery-content h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
}

.page-selector {
  text-align: center;
}

.page-selector span {
  display: inline-block;
  margin: 0 20px;
  font-size: 20px;
  font-weight: bold;
}

.page-selector a {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(201, 201, 255);
  border-radius: 5px;
  padding: 5px;
}

.image-user-input form {
  display: flex;
  flex-direction: column;
  width: 200px;

  box-shadow: 2px 2px 10px rgb(0, 0, 0);
  border: 4px solid rgb(99, 99, 99);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}

.image-status-message {
  display: block;
  color: rgb(255, 106, 0);
  margin: 30px;
  font-size: 30px;
  font-weight: bold;
}

.goback-link {
  margin: 0px;
  padding: 5px;
  font-size: large;
  text-decoration: none;
  border: 1px black solid;
  border-radius: 5px;
}
